img {
    width: 30%;
    /* margin: 1.66%; */
    margin: calc(10%/6);
}
nav {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    border-bottom: 2px solid #033c63;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 0.2em 0;
    margin-bottom: 2%;
}